# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Env
venv/
.env

# Coverage reports
.coverage
htmlcov/

# pytest cache
.pytest_cache/

# VSCode
.vscode/

# Mac
.DS_Store

# Build artifacts
dist/
build/
*.egg-info/
*.log